{% extends "base.html" %}
{% block body %}


	<header>
        <h1>Account Information</h1>
        {% if session['username'] %}
            <p>Account Name: {{session.name}}</p>
            <p>Your Username: {{ session.username }}</p>
            <p>Your Email: {{session.email}}</p>
            <p>Your Password: Password Hidden{{session.password}}</p>
            <p>Your userID: {{session.userID}}</p>
            <p>Your Account Type: {{session.account_type}}</p>
        {% else %}
            <p>Please log in to view your account details.</p>
        {% endif %}
    </ul>
<!--        <div>-->
<!--            <table>-->
<!--                <tbody>-->
<!--                <tr>-->
<!--                    <input type="text"><button>Search</button>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--            </table>-->
<!--        </div>-->
    </header>


{% endblock %}