{% extends "base.html" %}
{% block body %}


<section>
          <h1>Cart</h1>
  {% if cart_items %}
    <div class="cart-items">
      {% for item in cart_items %}
        <div class="product-block">
          <img src="{{ item.image }}" alt="Product Image">
          <p>{{ item.price }}</p>
          <p>{{ item.total }}</p>
          <form action="{{ url_for('remove_from_cart', itemID=item.itemID) }}" method="POST">
            <button type="submit" class="btn-remove">Remove from Cart</button>
          </form>
        </div>
      {% endfor %}
        <form action="/submit_order/{{ cart_id }}" method="POST">
  <button type="submit">Submit Order</button>
</form>
    </div>
  {% else %}
    <div class="product-block">
    <p>Your cart is empty.</p>
    </div>
  {% endif %}
    </section>






{% endblock %}