{% extends "base.html" %}
{% block body %}

<h2>Admin</h2>
	<header>
        {% if session['username'] %}
            <p>Logged in user: {{ session.username }}</p>
        {% else %}
            <p>Please log in to view your account details.</p>
        {% endif %}
    </ul>
<!--        <div>-->
<!--            <table>-->
<!--                <tbody>-->
<!--                <tr>-->
<!--                    <input type="text"><button>Search</button>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--            </table>-->
<!--        </div>-->
    </header>

<a href="/admin">Admin HOME</a>
<a href="/view_products">VIEW PRODUCTS</a>
<a href="/add_product">ADD PRODUCTS</a>
<a href="/edit_product">EDIT</a>
<a href="/">CHAT</a>
<a href="/">CART</a>
<a href="/">MY ACCOUNT</a>
<a href="/">MY ORDERS</a>
<a href="/">RECEIVED ORDERS</a>

{% endblock %}