<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel= "stylesheet" href= "../static/styles/header.css">
    <title>My site</title>
  </head>

  <body>
    <header>
      <div class="topBar">
        <div class="">
          <h1>Start Online Shopping!</h1>
          <ul class="barItem">

            <li><a href="/">HOME</a></li>
            <li><a href='/register'>REGISTER ACCOUNT</a></li>
            <li><a href="/login">LOGIN ACCOUNT</a></li>


          </ul>
        </div>


      </div>
    </header>

    {% block body %}
    {% endblock %}

    <footer class="footer">
      <div class="footer__addr">
        <h2>Contact</h2>

        <address>
          Made by Jazlynn :)<br>

          <a class="footer__btn" href="mailto:example@gmail.com">Email Us</a>
        </address>
      </div>

    </footer>

  </body>
</html>

