{% extends "base.html" %}
{% block body %}

<body class="login_body">
    <header>
        <h1>Login To Start Shopping With Jaz :)</h1>
    </header>
    <main>
        <form id="login_form" class="form_class" action="/login" method="post">
            <div class="form_div">
                <label>Username:</label>
                <input class="field_class" id="email" type="text" name="username" type="text" placeholder="Username" autofocus>
                <label>Password:</label>
                <input id="pass" class="field_class" name="password" type="password" placeholder="Password">
                <button class="submit_class" type="submit" form="login_form" >Login</button>
            </div>
            <div class="info_div">
                <form>
                <p>A new user? <a href="/register">Sign Up Today!</a></p>
                </form>
            </div>
        </form>
    </main>
</body>


{% endblock %}