{% extends "base.html" %}
{% block body %}



<div class="register">

    <h1>Register For An Account</h1>
    <form method="POST" action="/register" class="reg">
        <input name="name" placeholder="name" type="text"><br>
        <input name="email" placeholder="email" type="text"><br>
        <input name="username" placeholder="Username" type="text"><br>
        <input name="password" placeholder="Password" type="text"><br>
        <input name="userID" placeholder="UserId" type="number"><br>
        <select name="account_type">
            <option value="Admin">Admin</option>
            <option value="vendor">Vendor</option>
            <option value="customer">Customer</option>
        </select><br><br>
        <input class="barItem input" style="margin-left:50px;" value="submit" type="submit">
    </form>


</div>

{% endblock %}