{% extends "base.html" %}
{% block body %}


    <form method='POST'>
    <button  name="button" value="User Products">Show My Products</button>
    <button name="button" value="All Products">Show All Products</button>
    </form>

    {%for products in products:%}


        <ul>
            <li>Title: {{products[0]}}</li>
            <li>Description: {{products[1]}}</li>
            <li><img src="{{products[2]}}"></li>
            <li>Category: {{products[3]}}</li>
            <li>Colors: {{products[4]}}</li>
            <li>Sizes: {{products[5]}}</li>
            <li>Price: {{products[7]}}</li>
            <li>Vendor ID: {{products[10]}}</li>
        </ul>


    {% endfor %}


{% endblock %}